#header
  %a{:href => "/"}
  %h1 Tomas Morris
  %h2 Software Engineer
#tiles
  .tilerow
    %a{:href => "/"}
      %span#home.tile
        %span.left
        %span.right
        %span.top
        %span.bottom
    %a{:alt => "linkedin", :href => "http://www.linkedin.com/pub/tomas-morris/48/46/467"}
      %span#linkedin.tile
  .tilerow
    %a{:alt => "facebook", :href => "https://www.facebook.com/tomas.e.morris.3"}
      %span#facebook.tile
    %a{:href => "https://twitter.com/Tomas_Morris"}
      %span#twitter.tile
  .tilerow
    %a{:alt => "cookbook app", :href => "/ingredients"}
      %span#cookbook.tile
    %span.tile
  .tilerow
    %span.tile
#footer
