/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

.search_box {
  width: 5em;
  transition: all .5s ease !important;
}

.search_wrapper {
  float: right;
  margin: 5px 0;
}

.search_box:focus {
  width: 10em;
}

.recipe_wrapper {
  min-height: 150px;
  margin-bottom: 1em;
}

.recipe_picture {
  float: left;
  margin-right: 1em;
}

.paginate_wrapper {
  text-align: center;
}

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.description {
  margin: 0;
  margin-left: 3em;
}

.inline {
  display: inline;
}

.section {
  display: inline-block;
}

.userinfo {
  color: #777;
  margin: .2em 2.2em;
}

.username {
  font-size: 1.5em;
}

a:hover {
  background-color: transparent;
  text-decoration: none;
}

[class*="span"] {
  margin: 1em .5em;
}