// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.categories {
  margin: 1em;
}

.label.category {
  margin: .6em;
}

div.span6.pull-right {
  margin-left: 0;
}

.ingredient_recipes select{
  width: 11em;
}

textarea {
  height: 16em;
}

.span6 input {
  width: 15em;
}

.span6 input[type="number"] {
  width: 3em;
}

.removeIngredient {
  margin-bottom: 10px;
}